:root {
    --brand: oklch(0.705 0.2 355.467);
    --brand-foreground: oklch(1 0 0);
}

/* Custom Dark Values */
.dark {
    --brand: oklch(0.705 0.2 355.467);
    --brand-foreground: oklch(1 0 0);
}

@theme inline {
    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
}